<template>
    <div>
        <h2>Home</h2>
        <UserPanel />
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import UserPanel from './UserPanel';

    export default {
        name: 'Home',
        computed: {
            ...mapGetters([
                'oidcIsAuthenticated' // used to see if the user is logged in
            ]),
            hasAccess: function () {
                return this.oidcIsAuthenticated || this.$route.meta.isPublic;
            }
        },
        components: {
            UserPanel
        },
    }
</script>

<style>

    body {
        margin: 0;
    }
</style>