<template>
    <div>
        <h1>Mythic Table</h1>
        <aside>
            <p>Welcome to our friggin' awsome VTT app! OOOOH YEAH!</p>
            <small>This page is intentionally left ugly. Pretty designs will come later.</small>
        </aside>
        <button @click="dummyMessage">Create New Campaign</button>
        <h2>My Campaigns</h2>
        <ul>
            <li v-for="(myCampaign, myIndex) in dummyMyCampaigns" :key="myIndex">
                <span>{{ myCampaign.name }}</span>
                <router-link :to="{ name: 'live-play' }">Play</router-link>
            </li>
        </ul>
        <h2>Campaigns I'm In</h2>
        <ul>
            <li v-for="(campaign, particiaptingIndex) in dummyMyCampaigns" :key="particiaptingIndex">
                <span>{{ campaign.name }}</span>
                <router-link :to="{ name: 'live-play' }">Play</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dummyMyCampaigns: [
                {
                    name: 'Lost Mines of Phandelver',
                },
                {
                    name: 'Monster of the Week',
                },
            ],
            dummyParticipatingCampaigns: [
                {
                    name: `Storm King's Thunder`,
                },
                {
                    name: `SciFi lazer campaign`,
                },
            ],
        };
    },
    methods: {
        dummyMessage() {
            alert(`Pretend that this just created a campaign. PRETTY SWEET, HUH!?`);
        },
    },
    beforeRouteLeave(to, from, next) {
        var toName;
        if (to.name) toName = to.name;
        else toName = to.path.replace(/\//g, '-');
        this.$gtag.event(`to-${toName}`, {
            event_category: 'from-campaign-management',
        });
        next();
    },
};
</script>
